# Científico / Data
numpy==1.24.4
pandas
matplotlib
seaborn
scikit-learn
imageio
moviepy
opencv-python
opencv-python-headless
librosa
transformers
sentence_transformers
sentencepiece
torch
torchvision
torchaudio
accelerate
# TensorFlow Addons compatível com TF 2.15
tensorflow-addons==0.21.0

# LLM bindings (vai compilar nativamente, boa sorte)
llama-cpp-python
